.border-parrafo
 {
     border: 1px solid black;
     margin: 25px;
     padding: 30px 10px 15px 10px;
    }
.columna1
{  
    width: 40%;
    display: inline-block;
    text-align: left;
}

.columna2
{   width: 55%;
    display: inline-block;
    text-align: right;
}

    .texto1
{

text-align: center;

}