.border-parrafo
 {
     border: 1px solid black;
     margin: 25px;
     padding: 30px 10px 15px 10px;
    }

    .texto1
    { 
        display: inline-block;
        width: 49%;
        vertical-align: text-top;
    }